<!-- Start hero -->

<div class="landing">
  <div class="container">
    <div class="text">
      <h1>Welcome, to MEGA world.</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium et
        id vero repellendus eum magni libero amet exercitationem, voluptates
        ipsum fuga tenetur vel error at sint quae nobis, nihil laudantium.
      </p>
    </div>
    <div class="image">
      <img src="../../../../../../assets/imgs/landing-image.png" alt="" />
    </div>
  </div>
  <a href="#articles" class="go-down">
    <i class="fas fa-angle-double-down fa-2x"></i>
  </a>
</div>
<!-- End hero -->
