<div class="spikes"></div>
<div class="pricing" id="pricing">
  <div class="dots dots-up"></div>
  <div class="dots dots-down"></div>
  <h2 class="main-title">Pricing Plans</h2>
  <div class="container">
    <div [class]="price.className" *ngFor="let price of pricingData">
      <div class="label">{{ price.labelName }}</div>
      <h3 class="title">{{ price.type }}</h3>
      <img [src]="price.img" />
      <div class="price">
        <span class="amount">{{ price.amount }}</span>
        <span class="time">{{ price.time }}</span>
      </div>
      <ul>
        <li *ngFor="let list of price.list">{{ list }}</li>
      </ul>
      <a href="">Choose Plan</a>
    </div>
  </div>
</div>
