<div class="discount" id="discount">
  <div class="image">
    <div class="content">
      <h2>ًWe Have A Discount</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sint fugit
        rerum voluptates recusandae expedita totam molestiae adipisci inventore.
        Voluptas autem nisi iure cum eos hic quo consectetur nostrum
        repudiandae!
      </p>
      <img src="../../../../../../assets/imgs/discount.png" />
    </div>
  </div>
  <div class="form">
    <div class="content">
      <h2>Request A Discount</h2>
      <form>
        <input class="input" type="text" placeholder="Your Name" name="name" />
        <input
          class="input"
          type="email"
          placeholder="Your Email"
          name="email"
        />
        <input
          class="input"
          type="text"
          placeholder="Your Phone"
          name="mobile"
        />
        <textarea
          class="input"
          placeholder="Tell Us About Your Needs"
          name="message"
        ></textarea>
        <input type="submit" value="Send" />
      </form>
    </div>
  </div>
</div>
