<div class="team" id="team">
  <h2 class="main-title">Team Members</h2>
  <div class="container">
    <div class="box" *ngFor="let team of teamData">
      <div class="data">
        <img [src]="team.img" alt="" />
        <div class="social">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="info">
        <h3>{{ team.name }}</h3>
        <p>{{ team.desc }}</p>
      </div>
    </div>
  </div>
</div>
